PyQt5
PyQt-Fluent-Widgets
openai
google-genai
httpx
Pillow
sherpa-onnx
sounddevice
pyaudiowpatch
numpy
requests
psutil
sentencepiece
markdown
pygments
beautifulsoup4
live2d-py
pyopengl
packaging
edge-tts
musicdl
gradio_client
pycryptodomex
pygame
python-vlc
dashscope